body {
    font-family: Verdana, sans-serif;
    margin: 0px;
}

.addEmpDialog{
    margin: 5px auto;
    text-align: center;
}
.adminDashButtons{
    border-radius: 4px;
    background-color: #8497f6;
    color: white;
    font-size: 20px;
    height: 100px;
    width: 180px;
    outline:0;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px 10px;
}

th, td {
    border-bottom: 1px solid #ddd;
    hover: #f5f5f5;
}

.adminNavLeft{
    margin: 10px;
}

.dot {
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.middleRow{
    text-align: center;
}

.fakePhoneTop{
    margin: 50px 0 10px 0;
    border-color: black;
}

.fakePhoneBottom{
    margin: 10px 0 50px 0;
    border-color: black;
}

.adminNavBottom{
    margin: 90px auto;
    text-align: center;    
}

.adminViewContent{
    margin: 20px auto;
    width: 290px;
}
.adminViewParks{
    text-align: center;
    /* border-radius: 20px; */
    margin: 20px auto ;
    max-width: 290px;
    height: 580px;
    /* min-height: 500px ; */
    position: relative;
    /* border: 2px black solid; */
    background-image: url("/images/phone2.png");
    background-size: contain;
}
.alert {
    background-color: #ff4545;
    margin: 50px;
}

.archivesTable{
margin: 10px auto;
}



.checker{
    display: inline;
}

.featureItemMaintained{
    display: flex;
}
.featureImg{
    max-width: 100px;
    max-height: 100px;
}

.featureName{
    margin: 5px;
}
.footer{
    text-align: center;
}
form {
    background-color: #92b5ff;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="checkbox"]{
    width: 30px; /*Desired width*/
    height: 30px; /*Desired height*/
    cursor: pointer;
    display: inline;
  }

.lastMaintained{
    font-size: 10px;
    opacity: 0.6;
}

.log-in, .log-out, .register {
  background-color: #7543a9;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 30px;
  min-width: 70px;
  outline: 0;
  cursor: pointer;
  margin: 0px 15px;
}

.loginForm{
    text-align: center;
    align-content: center;
    color: rgb(37, 37, 37);

}
.submit{
    background-color: #7543a9;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 30px;
  min-width: 70px;
  outline:0;
  cursor: pointer;
  margin: 0px auto;
  display: flex;
  align-content: center;
}


.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.parkButtons{
    background-color: #8497f6;
    border-radius: 4px;
    font-size: 24px;
    color: #f8f8f8;
    min-height: 120px;
    min-width: 240px;
    text-align: center;
    margin: 10px auto;
}

.parkButtonsDiv{
    text-align: center;
  }

.parkItem{
    background-color: #c6e7fa;
    margin: 10px 20px;
    border: 1px #57b3e9 solid;
}
.parkTitle{
    text-align: center;
    padding: 0px;
    margin: 10px auto;
}

.userInfo{
    text-align: right;
}

#welcome{
font-size: 20px;
margin: 5px 10px auto 10px;
}