body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.adminDashButtons{
    border-radius: 4px;
    background-color: #8497f6;
    color: white;
    font-size: 20px;
    height: 80px;
    width: 160px;
    outline:0;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px 10px;
}

.adminNavLeft{
    margin: 10px;
}

.adminNavBottom{
    margin: 90px auto;
    text-align: center;    
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.archivesTable{
margin: 10px auto;
}

.featureImg{
    max-width: 200px;
    max-height: 200px;
}
.footer{
    text-align: center;
}
form {
    background-color: #92b5ff;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #7543a9;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 30px;
  min-width: 70px;
  outline:0;
  cursor: pointer;
  margin: 0px 10px;
}


.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.parkButtons{
    background-color: #8497f6;
    border-radius: 4px;
    color: #f8f8f8;
    min-height: 120px;
    min-width: 240px;
    text-align: center;
    margin: 10px auto;
}

.parkButtonsDiv{
    text-align: center;
  }

.parkItem{
    background-color: #c6e7fa;
    margin: 10px 20px;
}
.parkTitle{
    text-align: center;
    padding: 0px;
    margin: 10px auto;
}

.userInfo{
    text-align: right;
}

#welcome{
font-size: 20px;
margin: 5px 10px auto 10px;
}